<app-navaiagation-bar (event) ="receiveMessage($event)"></app-navaiagation-bar>
<ng-sidebar-container>
 
  <!-- A sidebar -->

  <!-- Page content -->
  <div ng-sidebar-content>
    <div class="left-panel">
      <table>
        <thead>
          <tr>
            <th class="th-center">Date</th>
            <th class="th-left">List Name</th>
            <th class="th-right">No. Of Entities</th>
            <th class="th-left">Action</th>
            <th class="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let data of games | filter:message">
          <tr>
            <td class="">{{data.release}}</td>
            <td  *ngIf="data.platform=='0'" platform="data.platform" class="listName active">{{data.game}}</td>
            <td *ngIf="data.platform!='0'" platform="data.platform" class="listName unactive">{{data.game}}</td>            
            <td class="th-right">{{data.platform}}</td>
            <td class=""><span><i class="fa fa-envelope"></i></span><span><i class="fa fa-share"></i></span><span><i class="fa fa-pencil"></i></span><span><i class="fa fa-trash"></i></span></td>
            <td><button class="" (click)="detailsClick(data.game)">Details</button></td>
          </tr>
        </tbody>
      </table>
    </div>  
    <div class="right-panel">
      <ng-sidebar position ="right" [(opened)]="_opened">
        <div class="side-header"><span class="side-text">No Description Yet</span><span class="side-text-desc"> + Add Description</span></div>
        <div class="side-nav-content">
          <p>{{details}}</p>
        </div>
      </ng-sidebar>
    </div>  
  </div>

</ng-sidebar-container>
